# Reserved by the Pitchfork Layout
/*build*/

# editor workspaces
*.code-workspace
!/tools/*.code-workspace
.cache/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
CMakeUserPresets.json
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
